<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg">
    
                    <a class="navbar-brand" href="{{ path('homepage') }}">{{ appTitle }}</a>
    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ads:index') }}">Ads</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for category in categories() %}
                                    <a class="dropdown-item" href="{{ path('ads:index', {'categ': category.slug}) }}">{{ category.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
    
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ads:create') }}">New ad</a>
                            </li>

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {# Authenticated user #}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{ app.user.screenname }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Deconnexion</a>
                                </li>
                            {% else %}
                            {# Anonymous user #}
                                {# <li class="nav-item">
                                    <a class="nav-link" href="#">Inscription</a>
                                </li> #}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                                </li>
                            {% endif %}

                        </ul>
    
                    </div>
                </nav>
            </div>
        </header>
        {% endblock %}

        {% for status, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ status }}">
                <ul class="list-unstyled mb-0">
                    {% for message in messages %}
                    <li>{{ message | raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}

        {% block body %}{% endblock %}

        {% block footer %}
        <footer>
            <div class="footer-nav">
                <div class="container">

                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse">

                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('legal') }}">Terms of use</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact') }}">Contact us</a>
                                </li>
                            </ul>

                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="localesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Languages : {{ app.request.locale }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="localesDropdown">
                                        {% for locale in locales() %}                                            
                                        <a class="dropdown-item" href="#">{{ locale.code }} - {{ locale.name }}</a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </nav>

                </div>
            </div>
            <div class="footer-legal">
                <div class="container text-center">
                    {{ copyright() }}
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
